body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    margin: 0;
}
input {
    width: 200px;
    height: 30px;
    font-size: 16px;
}
button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
canvas {
    border: 2px solid white;
}

input, button, .p5Slider {
    position: absolute;
    top: 10px;
    left: 10px;
}

button {
    left: 150px;
}

.p5Slider {
    top: 50px;
}

#exit-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(250, 239, 239);
    color: rgb(12, 8, 8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#exit-button:hover {
    background-color: rgb(235, 9, 9);
}

#back-button {
    position: fixed;
    bottom: 20px; /* 固定在底部 */
    left: 20px;   /* 固定在左侧 */
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(250, 239, 239);
    color: rgb(12, 8, 8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: none; /* 默认隐藏 */
}

#back-button:hover {
    background-color: rgb(235, 9, 9);
}
